[submodule "public"]
	path = public
	url = https://github.com/raghuugare/raghuugare.github.io.git
	branch = master
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
